<!DOCTYPE html>
<html lang="en-US">

<head>
<script src="3rdParty/angular-1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body ng-app="DisplaySpacecraftAttitude">

  <div ng-controller="mainController">
    <button ng-click="startDemo()">Start Demo</button>
    <button ng-click="startStepping()">Start Stepping</button>
    <button ng-click="torqueZCounterClockwise()">Roll Right</button>
    <button ng-click="torqueZClockwise()">Roll Left</button>
    <button ng-click="torqueXCounterClockwise()">Pitch Down</button>
    <button ng-click="torqueXClockwise()">Pitch Up</button>
    <button ng-click="torqueYCounterClockwise()">Yaw Left</button>
    <button ng-click="torqueYClockwise()">Yaw Right</button>
    <canvas id="myCanvas" width="1350" height="510"</>
  </div>

  <script type="text/javascript" src="displaySpacecraftAttitude.js"></script>
</body>

</html>
